@import "tailwindcss";

@theme {
  /* Brand */
  --color-primary: #835240;
  --color-primary-light: #c98f7a;
  --color-primary-dark: #51291a;
  --color-dark: #3D2A1E;

  /* Accent */
  --color-rose-gold: #b76e79;

  /* Backgrounds */
  --color-background: #fdf9f3;
  --color-surface: #f8f4ee;
  --color-card: #f2e8dd;

  /* Text */
  --color-heading: #3b302a;
  --color-body: #51443f;
  --color-muted: #84746e;

  /* Border */
  --color-border: #e6d9cf;

  /* Status */
  --color-success: #4caf50;
  --color-warning: #f59e0b;
  --color-error: #ba1a1a;

  --font-body: "Inter", sans-serif;
  --font-heading: "Playfair Display", serif;
  --font-admin-text: "Plus Jakarta Sans", sans-serif;
    /* --font-body: "Inter", sans-serif;
  --font-heading: "Cormorant Garamond", serif; */
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

body {
  overflow-x: hidden;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;
  vertical-align: middle;
}







/* ::-webkit-scrollbar */

@utility scrollbar-premium {
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, var(--color-primary) 55%, transparent) transparent;
}

.scrollbar-premium::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-premium::-webkit-scrollbar-track {
  margin: 6px 0;
  background: transparent;
}

.scrollbar-premium::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--color-primary) 65%, white);
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
  transition: all 180ms ease;
}

.scrollbar-premium::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  background-clip: content-box;
}

.scrollbar-premium::-webkit-scrollbar-thumb:active {
  background: var(--color-primary-dark);
  background-clip: content-box;
}


.range-thumb-premium::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--color-primary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: -6px;
}
.range-thumb-premium::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--color-primary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}